/* .container_cad_user {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 0 0 25px;
    border: 1px solid #e8ebed;
    border-radius: 6px;
}

.container_cad_user .cad_body_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    max-width: 600px;
} */



.pass_input {
    position: relative;
}









