.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.card-widget-dash {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.chart-dash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.chart-dash .chart-dash-bar {
    width: 100%;
}

@media (max-width: 1600px) {
    .chart-dash {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 991px) {
    .card-widget-dash {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .chart-dash {
        grid-template-columns: 1fr;
    }

    
}



@media (max-width: 575px) {
    .card-widget-dash {
        display: grid;
        grid-template-columns: 1fr;
    }
}