.sidebar_menu {
    padding: 20px;
}

.sidebar_menu ul {
    list-style: none;
}

.sidebar_menu > ul > li {
    margin-bottom: 10px;
}

.sidebar_menu > ul > li.active a {
    color: #fff;
}

.sidebar_menu ul li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: relative;
    color: #212b36;
    transition: all 0.5s ease;
}

.sidebar_menu > ul > li a:hover {
    background: #1b2850;
    color: #fff;
    border-radius: 5px;
}

.sidebar_menu ul li a svg {
    width: 18px;
}

.sidebar_menu > ul > li > a span {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #637381;
}

.sidebar_menu > ul > li > a:hover span {
    color: #fff;
}

.sidebar_menu > ul > li > a .menu_arrow {
    display: inline-block;
    text-rendering: auto;
    line-height: 40px;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    top: 12px;
    right: 15px;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.sidebar_menu > ul > li > a.subdrop .menu_arrow {
    transform: rotate(90deg);
}






