.sidebar_menu {
    padding: 20px;
}

.sidebar_menu .sidebar_menu_list {
    list-style: none;
}

.sidebar_menu .sidebar_menu_list li.submenu {
    margin-bottom: 10px;
}

.sidebar_menu .sidebar_menu_list li.submenu.active .menu_item,
.sidebar_menu .sidebar_menu_list li.submenu.active .menu_item svg {
    color: #fff;
}

.sidebar_menu .sidebar_menu_list li.submenu .menu_item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: relative;
    
    transition: all 0.5s ease;
}

.sidebar_menu .sidebar_menu_list li.submenu .menu_item:hover {
    background: #10cdb3;
    color: #fff;
    border-radius: 5px;
}

.sidebar_menu .sidebar_menu_list li.submenu .menu_item:hover svg {
    color: #fff;
}

.sidebar_menu .sidebar_menu_list li.submenu .menu_item svg {
    width: 18px;
    font-size: 25px;
    color: #00000095;
}

.sidebar_menu  .sidebar_menu_list li.submenu .menu_item span {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #00000095;
}

.sidebar_menu .sidebar_menu_list li.submenu .menu_item:hover span {
    color: #fff;
}

.sidebar_menu .sidebar_menu_list li.submenu .menu_item .menu_arrow {
    display: inline-block;
    text-rendering: auto;
    line-height: 40px;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    top: 12px;
    right: 15px;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.sidebar_menu_list .submenu.active .menu_item .menu_arrow svg {
    transform: rotate(90deg);
}

.menu_arrow svg {
    font-size: 25px;
    font-weight: bold;
}

.sidebar_menu .sidebar_menu_list li.submenu.active .menu_item {
    background: #10cdb3;
    border-radius: 5px;
}

.sidebar_menu .sidebar_menu_list li.submenu.active .menu_item span {
    color: #fff;
}

.submenu .submenu_itens_list .submenu_item {
    list-style: none;
    margin-left: 10px;
}

.submenu .submenu_itens_list .submenu_item a {
    font-weight: 500;
    font-size: 14px;
    color: #00000090;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 8px 8px 40px;
    width: 100%;
    text-decoration: none;
    transition: all .5s ease;
}

.submenu .submenu_itens_list .submenu_item a::after {
    content: "";
    border: 1px solid #00000090;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 13px;
    left: 16px;
    right: 100px;
    transition: all .5s ease;
}

.submenu .submenu_itens_list .submenu_item a:hover {
    color: #10cdb3;
}

.submenu .submenu_itens_list .submenu_item a:hover::after {
    border: 1px solid #10cdb3;
    background: #10cdb3;
}

.sidebar_menu_list .submenu.active > .menu_item {
    background: #10cdb3;
    color: #fff;
}

.sidebar_menu_list .submenu_item.active > a {
    color: #10cdb3;
}

.sidebar_menu_list .submenu_item.active > a::after {
    background: #10cdb3;
    border: 1px solid #10cdb3;
}

.submenu_itens_list {
    display: none;
}

.submenu.active .submenu_itens_list {
    display: block;
}






